body {
    background-color: #141414d8;
}

.bg-dark {
    background-color: #343a40!important
}

.bg-primary {
    background-color: #343a40!important
}

.navbar {
    background: rgb(0, 0, 0);
    opacity: 0.7;
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #000000;
}

.navbar-brand:hover {
    background: #f4f4f4 !important;
    color: #000000 !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}


/*header style*/

.header {
    height: 100vh;
    background-image: url('img1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    opacity: 0.5;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0);
}


/**/

.description {
    position: absolute;
    top: 25%;
    margin: left;
    padding: 1em;
    text-align: left;
}

.description p {
    color: rgb(8, 1, 1);
    font-size: 20px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    line-height: 1.5;
    white-space: normal !important;
}

.description button {
    border: 1px solid #000000;
    background: #000000;
    color: #fff;
}


/**/

.np {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.np h1 {
    color: rgb(17, 16, 16);
    margin: 2em;
}

.np img {
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.np span {
    display: block;
    color: #000000;
    position: absolute;
    left: 115px;
}

.np .desc {
    padding: 2em;
    border-left: 4px solid rgb(5, 5, 5);
}

.np .desc h3 {
    color: rgb(6, 8, 8);
}

.np .desc p {
    line-height: 2;
    color: #000000;
}


/**/

.items {
    margin: 4em 0;
    position: relative;
}

.items h1 {
    color: rgb(8, 8, 8);
    margin: 2em;
}

.items .item {
    box-shadow: 0 0 20px rgba(97, 6, 36, 0.925);
}

.items .item img {
    width: 100%;
    height: 30em;
}

.items .item-title {
    color: #000000;
}

.items .item-body {
    padding: 1em;
}

.item-link {
    color: #f4f4f4;
    padding-left: 20px;
}

.item-text {
    color: #000000;
}