.navbar{
    background:rgb(0,0,0);
    opacity:0.7;
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #000000;
}
.navbar-brand:hover{
    background: #f4f4f4 !important;
    color: #000000 !important;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
background:#fff !important;
}
/*header style*/
.header{
    height: 100vh;  
    background-image: url('img1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.5;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0);
}
/**/
.description{
    position: absolute;
    top: 25%;
    margin: left;
    padding: 1em;
    text-align: left;
}
.description p{
color:rgb(8, 1, 1);
font-size: 20px;
width: 80%;
max-width: 600px;
text-align: left;
line-height: 1.5;
white-space: normal !important;
}
.description button{
border:1px  solid #000000;
background:#000000;
color:#fff;
}